$white: #ffffff !default;
$primary: #007add !default;
$secondary: #cb1d7e !default;
$tertiary: #ea973b !default;
$light: #54ecff !default;
$dark: #474545 !default;
$gray: #e5e5e5 !default;
$black: #000000 !default;


$ease: all 0.3s ease-in-out;